{% extends "base.html" %}

{% block body %}
<div class="columns">
  <aside class="column is-3 rot-sidebar">
    {% if toc %}
    <div class="menu">
      <p class="menu-label">Contents</p>
      $toc$
    </div>
    {% endif %}
  </aside>
  <article class="column is-9">
    {% if title %}<h1 class="title">{{ title }}</h1>{% endif %}
    {% if author or date %}
    <p class="subtitle is-6 has-text-grey">
      {% if author %}by {{ author }}{% endif %}
      {% if author and date %} &mdash; {% endif %}
      {% if date %}{{ date }}{% endif %}
    </p>
    {% endif %}
    <div class="content">
      $body$
    </div>
  </article>
</div>
{% endblock %}
